pre {
    padding: 4px;
}
table th.int,td.int {
    text-align: right;
    width: 6em;
}
table th.id,td.id {
    text-align: right;
    width: 2em;
}
table th.name,td.name {
    width: 8em;
}
table th.phone,td.phone {
    width: 8em;
}
table th.decimal,td.decimal{
    text-align: right;
    width: 6em;
}
table th.dollar,td.dollar{
    text-align: right;
    width: 4em;
}
table th.time,td.time{
    width: 5em;
}
@media (prefers-color-scheme: light) {
    pre {
        color:#000000;
        background:#ffffff;
    }
    pre span.keyword {
        color:#800000;
        font-weight:bold; 
    }
    pre span.punct {
        color:#808030;
    }
    pre span.type {
        color:#bb7977;
    }
    pre span.extra {
        color:#074726;
    }
    pre span.number {
        color:#008c00; 
    }
    pre span.string {
        color:#0000e6;
    }
    pre span.format {
        color:#007997;
    }
    pre span.comment {
        color:#696969;
    }
    table th {
        background: #dddddd;
    }
}
@media (prefers-color-scheme: dark) {
    pre {
        color:#ddeeff;
        background: #001a22;
    }
    pre span.keyword {
        color:#7090f0;
        font-weight:bold; 
    }
    pre span.punct {
        color:#9999bb; 
    }
    pre span.type {
        color:#ffbbff;
    }
    pre span.extra {
        color:#abab6a;
    }
    pre span.number {
        color:#44bf44; 
    }
    pre span.string {
        color:#54bbfa;
    }
    pre span.format {
        color:#44ccbb;
    }
    pre span.comment {
        color:#69bb99;
    }
    table th {
        background: #001a22;
    }
}